
<ul class="nav">
    <li class="nav-item">
        <a class="nav-link" routerLink="home">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="switch">Switch Demo</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="pipe">Pipes Demo</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="user">Service Demo</a>
    </li>
</ul>
