<h1>Uppercase Lower Case Pipes</h1>
<hr>
<p>{{name | uppercase}}</p>
<p>{{name | lowercase}}</p>
<h1>Number pipes</h1>
<hr>
<p>Simple Pi value {{pi}}</p>
<p>pi: {{pi | number:'5.5-5'}}</p>
<p>pi: {{pi | number:'.10-10'}}</p>
<p>pi: {{pi | number:'.3-3'}}</p>
<h1>Currency Pipes</h1>
<p>{{a | currency: 'USD':true:'3.3-3'}}</p>
<p>{{a | currency: 'EURO':false}}</p>
<p>{{b | currency: 'INR':true:'5.4-4'}}</p>
<h1>Date Pipe</h1>
<p>Today is {{today}}</p>
<p>Today is {{today | date}}</p>
<p>Today is {{today | date:'dd/MM/yyyy'}}</p>
<h1>JSON Object</h1>
<p>withot json pipe {{object}}</p>
<p>with json Pipe {{object | json}}</p>
<h1>Custome Pipe</h1>
<p>{{cust | changeString:' ' }}</p>
